header{
    background-color:#feffd4;
    width: 75%;
    border: 5px solid grey;
    border-radius: 20px;
    text-align: center;
    box-shadow: 2px 5px 10px grey;
}
nav{
    background-color:#d8d8cd;
    margin:5px;
    bottom: 15px;
    position: relative;
    width:78%;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 5px 5px grey;
    box-shadow: 2px 5px 10px grey;

}
ul li{
    display: inline-block;
    margin-left: 5px;

}
ul li:last-child{
    text-decoration: underline;
}

h4{
   color: grey;
   margin: 0px;;
}
h2{
    margin: 0px;
}
h3{
    margin: 0px;
}
.todo{
    margin-left: 40px;
    background-repeat: no-repeat;
}
.primero{
    background-color:#feffd4;
    border: 2px solid black;
    padding: 20px;
    width: 55%;
    margin:0;
    position: relative;


}
.segundo{
    background-color:#feffd4;
    border: 2px solid black;
    margin-top: 20px;
    padding: 20px;
    width: 55%;
    
    
}
.comentario{
    position: relative;
    text-align: right;
}
aside{
    background-color:#d8d8cd;
    width: 300px;
    height: 100px;
    top: 20px;
    right: 350px;
    padding-left: 10px;
    float: right;
    border-radius: 20px;
    border:2px solid grey;
    position: relative;
    
}
footer{
    text-align: center;
}
#titulo{
    margin:5px;
    padding: 1px;
    padding-left: 35px;
}
figcaption{
    margin: 0px;
}
.fondo{
    background-image: url(borde.jpg);
    background-repeat: no-repeat;
    width: 85.5%;
}